[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"
pytest-cov = "*"

[packages]
pillow = "*"
exifread = "*"
face-recognition = "*"
sqlalchemy = "*"

[requires]
python_version = "3.7"

[scripts]
prepare = "flake8 --install-hook git"
